*{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px !important;
}
.material-icons{
    font-size: 25px !important;
    cursor: pointer;
    padding: 10px;
    transition: 0.7s;
}

.material-icons:active{
    background: #9b9b9b36;
    border-radius: 200px;
    opacity: 0.3s;
}

.material-icons-active{
    background: rgba(255, 255, 255, 0.85);
    border-radius: 200px;
    opacity: 0.3s;
}
header > * {
    min-height: 64px !important;
}