p {
  background: white;
  padding: 10px;
}
.content-profile {
  display: inline-block;
  width: calc(100% - 12px);
  margin-bottom: 40px;
}

.content-box {
  text-align: center;
  vertical-align: middle;
}
.center-content {
  line-height: 4;
}

.delete-icon {
  position: relative;
  float: left;
  top: 6px;
  color: #f544ad;
  z-index: 2;
}
.order-elements {
  border-right: 1px dashed #f50057;
  width: 24%;
  float: left;
}
.btn-buy {
  float: left;
  background: #ff8db54f !important;
  top: -10px;
  margin-right: 10px !important;
}
.total-elements {
  padding: 20px;
  display: inline-block;
}
.number-formar {
  border: none;
  pointer-events: none;
  background: none;
}
.content-box > div:last-child {
  border: none;
}
li {
  list-style: none;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  background: #e00150;
    color: white;
    font-weight: bold;
}
.content-buy {
  position: fixed;
  bottom: 0;
  background: #ff8db5;
  color: white;
  width: 100%;
  left: 0;
  transition: 1s;
  min-height: 45px;
  overflow: auto;
}

i.material-icons.navigation-top {
  position: absolute;
  top: 0;
  right: 10px;
}

.title-navigation{
  font-size: 16px !important;
    padding: 12px;
    color: #f50057;
}

.content-items {
  padding: 10px;
  background: antiquewhite;
  margin-bottom: 10px;
  color: black;
}

@media (max-width: 1100px){
  .order-elements {
      width: 100%;
      border-right: none;
      border-bottom: 1px dashed #f50057;
      padding: 10px;
  }
  .item-name {
    position: relative;
    padding-right: 4rem;
    top: 10px;
}
  .content-profile {
    display: inline-block;
    width: 100%;
}
  input.number-formar {
    display: block;
    margin: 0 auto;
    text-align: center;
    /* height: 10px; */
  }
  .center-content {
    line-height: 2;
  }
  .total-elements {
    width: 100%;
    text-align: center;
    display: inline-grid;
    padding: 10px 0px 15px 0px;
}

.content-items-car {
  width: 100%;
  display: inline-flex;
}
.btn-buy {
  top: 5px;
  margin-right: 0px !important;
}
.content-box {
  text-align: center;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 10px;
}
.delete-icon{
  top: 0px;
}
.titles-item {
  text-align: center;
}
ul {
  padding: 0;
}

li{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 0.5px solid #ff8db5;
}
ul > li:last-child {
  border: none;
}

}

@media (max-width: 425px){
  .total-elements > * {
    margin-bottom: 10px;
  }
}


html{
  overflow-x: hidden;
}