.content-drawer{
    display: inline-block;
    width: 100%;
    max-width: 330px;
    position: fixed;
    left: 0;
    top: 8px;
    height: 100%;
    -webkit-box-shadow: 10px 0px 5px -6px rgba(222,219,222,1);
    box-shadow: 10px 0px 5px -6px rgba(222,219,222,1);
    background: white;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.icon-menu-drawer{
    position: absolute;
    right: 10px;
    top: 10px;
}

span.title-drawer {
    display: block;
    padding-top: 21px;
    padding-left: 28px;
    font-size: 20px !important;
}